
    body {
        font-family: 'Roboto', sans-serif;
        font-size: .9em;
    }

    a {
        text-decoration: none;
    }

    .pointer:hover {
        cursor: pointer;
    }

    .dark-hover:hover {
        color: black;
    }

    .t-black {
        color: #5c5c5c;
    }

    .vertical-line {
        width: 1px;
        height: 65%;
        background: #d8d4d4;
    }

    .underline-hover {
        border-bottom: 2px solid transparent;
    }

    .underline-hover:hover {
        border-bottom: 2px solid black;
        cursor: pointer;
        color: black;
    }

    .my-search-hover {
        transition: .3s;
        background: #f0ecec;
    }

    .input-non-effect {
        background: transparent;
        border: 0px solid black;
    }

    .input-non-effect:focus {
        background: transparent;
        box-shadow: none;
    }

    .my-outline-btn:hover {
        outline: 1px solid black;
    }

    .my-outline-btn:focus {
        box-shadow: none;
    }

    .my-outline-btn:active {
        outline: 1px solid #aaa;
    }