
    body {
        font-family: 'Roboto', sans-serif;
        font-size: .9em;
    }

    a {
        text-decoration: none;
    }

    .pointer:hover {
        cursor: pointer;
    }

    .hyper-text-b {
        color: black;
        opacity: .75;
        /* color: #5c5c5c */
    }

    .hyper-text-b:hover {
        color: black;
        opacity: 1;
        cursor: pointer;
    }

    .hyper-text-w {
        color: white;
        opacity: .75;
    }

    .hyper-text-w:hover {
        color: white;
        opacity: 1;
        cursor: pointer;
    }

    .vertical-line {
        width: 1px;
        height: 65%;
        background: #d8d4d4;
    }

    .underline-hover {
        border-bottom: 2px solid transparent;
    }

    .underline-hover:hover {
        border-bottom: 2px solid black;
        cursor: pointer;
        color: black;
    }

    .picture-cover {
        background-image: url("image/main-page-cover.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .icon-thin {
        opacity: .45;
    }

    .icon-thin:hover {
        opacity: .8;
        cursor: pointer;
    }

    .my-search-bar {
        transition: .3s;
        background: #f0ecec;
        border: 1px solid white;
    }

    .input-non-effect {
        font-size: .96em;
        background: transparent;
        border: 0px solid black;
    }

    .input-non-effect:focus {
        background: transparent;
        box-shadow: none;
    }

    .my-outline-btn:hover {
        border: 1px solid black;
    }

    .my-outline-btn:focus {
        box-shadow: none;
    }

    .awards-cover {
        opacity: 1;
        background-image: url("icon/leaves.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        background-color: black;
    }

    .awards-cover:hover {
        opacity: .92;
        cursor: pointer;
    }