
    body {
        font-family: 'Roboto', sans-serif;
        font-size: .92em;
    }

    a {
        text-decoration: none;
    }

    .pointer:hover {
        cursor: pointer;
    }

    .hyper-text-b {
        transition: .25s;
        color: black;
        opacity: .6;
    }

    .hyper-text-b:hover {
        color: black;
    }

    .hyper-text-b:focus{
        color: black;
    }

    .hyper-text-w {
        transition: .25s;
        color: white;
        opacity: .8;
    }

    .hyper-text-w:hover {
        color: white;
    }

    .hyper-text-w:focus{
        color: white;
    }

    .hyper-text-b:hover, .hyper-text-w:hover {
        opacity: 1;
        cursor: pointer;
    }

    .hyper-text-b:focus, .hyper-text-w:focus {
        box-shadow: none;
    }

    .vertical-line {
        width: 1px;
        height: 65%;
        background: #d8d4d4;
    }

    .underline-hover {
        border-bottom: 2px solid transparent;
    }

    .underline-hover:hover {
        border-bottom: 2px solid black;
        cursor: pointer;
        color: black;
    }

    .picture-cover {
        background-image: url("image/main-page-cover.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .icon-thin {
        opacity: .5;
    }

    .icon-thin:hover {
        opacity: .8;
        cursor: pointer;
    }

    .search-box-container {
        transition: .3s;
        background: #f0ecec;
        border: 1px solid white;
    }

    .in-dropdown-btn {
        font-size: .9em;
        color: hsl(0, 0%, 0%, 70%);
    }

    .in-dropdown-btn:hover {
        background: #f4f4f4;
        color: hsl(0, 0%, 0%, 70%);
    }

    .dropdown-indent-shape {
        width: 20px;
        height: 20px;
        background: white;
        transform: rotateZ(45deg);
        position: absolute;
        right: 10px;
        top: -11px;
        border-top: 1px solid #dcdcdc;
        border-left: 1px solid #dcdcdc;
    }

    .dropdown-animation {
        transform-origin: top right;
        animation: scale-up .2s;
    }

    .input-non-effect {
        font-size: .96em;
        background: transparent;
        border: 0px solid black;
    }

    .input-non-effect:focus {
        background: transparent;
        box-shadow: none;
    }

    .custom-outline-btn {
        font-size: .9em;
        opacity: 1;
    }

    .custom-outline-btn:hover {
        border: 1px solid black;
    }

    .custom-outline-btn:focus {
        box-shadow: none;
    }

    .awards-cover {
        opacity: 1;
        background-image: url("icon/leaves.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        background-color: black;
    }

    .awards-cover:hover {
        opacity: .92;
        cursor: pointer;
    }

    .detail-hover:hover {
        cursor: zoom-in;
    }

    .detail-hover:hover .photo-overlay-1 {
        display: flex;
    }

    .detail-hover:hover .photo-overlay-2 {
        display: flex;
    }

    .detail-hover:hover .photo-overlay-3 {
        display: flex;
    }

    .photo-overlay-1 {
        display: none;
        position: absolute;
        background: hsl(0, 50%, 0%, 20%);
        width: 100%;
        height: 100%;
        transition: .3s;
    }

    .photo-overlay-2 {
        display: none;
        position: absolute;
        width: 100%;
        transition: .3s;
    }

    .photo-overlay-3 {
        display: none;
        position: absolute;
        width: 100%;
        transition: .3s;
    }

    .photo-detail-overlay {
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 2;
    }

    .photo-detail-container {
        width: 100%;
        height: 100%;
        background: hsl(0, 0%, 0%, 50%);
        z-index: 3;
    }

    .detail-btn-1 {
        transition: .25s;
        opacity: .6;
        color: black;
        font-size: .9em;
        background: white;
    }

    .detail-btn-1:hover {
        opacity: 1;
        color: black;
        background: white;
    }

    .detail-btn-2 {
        transition: .25s;
        font-size: .9em;
        background: #3cb46e;
    }

    .detail-btn-2:hover {
        background: #37a866;
    }

    .detail-btn-1:focus, .detail-btn-2:focus {
        box-shadow: none;
    }

    @keyframes scale-up {
        0% {
            transform: scale(0);
            opacity: 0;
        }

        70% {
            transform: scale(1.1, 1.2);
            opacity: .7;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }