    :root {
        --current-height: 0px;
    }

    .frame-1 {
        height: 480px;
        background-image: url("../icon/leaves.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .background-image {
        height: var(--current-height);
        border-top: 1px solid #4c4c4c;
        background-size: cover;
        background-repeat: no-repeat;
    }